
{% if include.class %}
  {% if include.class == site.conference.sponsors.argon %}
    {% assign logoalignment = "col-md-offset-3 col-md-6" %}
    {% assign classname = "sponsor-platinum" %}
    {% assign classtext = "Argon Sponsor" %}
  {% elsif include.class == site.conference.sponsors.neon %}
    {% assign logoalignment = "col-md-3" %}
    {% assign classname = "sponsor-silver" %}
    {% assign classtext = "Neon Sponsor" %}
  {% elsif include.class == site.conference.sponsors.helium %}
    {% assign logoalignment = "col-md-3" %}
    {% assign classname = "sponsor-bronze" %}
    {% assign classtext = "Helium Sponsor" %}
  {% elsif include.class == site.conference.sponsors.community %}
    {% assign logoalignment = "col-md-offset-3 col-md-6" %}
    {% assign classname = "sponsor-community" %}
    {% assign classtext = "Community Sponsor" %}
  {% endif %}

<div class="row">
  <div class="col-md-12">
    <div class="block">
      <div class="sponsor-title">
        <h2 id="{{ classname }}">{{ classtext }}</h2>
      </div>

      <div class="sponsor-list {{ classname }}">
      {% for sponsor in include.class %}
        <div class="{{ logoalignment }} col-sm-6 col-xs-12 sponsor">
          <div class="image-container vcenter">
          {% if sponsor.uri %}
            <a href="{{ sponsor.uri }}">
            <img src="{{ sponsor.logo | relative_url }}" alt="{{ sponsor.name }}">
            </a>
          {% else %}
            <img src="{{ sponsor.logo | relative_url }}" alt="{{ sponsor.name }}">
          {% endif %}
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}
